@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/Content/Image/Goods.png" alt="첫번째 슬라이드">
                <div class="carousel-caption d-none d-md-block" style="top:60%;">
                    <h3><font color="red">쇼핑몰 상품등록</font></h3>
                    <p><font color="red">쇼핑몰 상품등록기능</font></p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/Content/Image/sample2.jpg" alt="두번째 슬라이드">
                <div class="carousel-caption d-none d-md-block">
                    <h3></h3>
                    <p>아름다운 야경</p>
                </div>
            </div>
            <div class="carousel-item">
                <!--d-block w-100-->
                <img class="d-block w-100" src="~/Content/Image/sample3.jpg" alt="세번째 슬라이드">
                <div class="carousel-caption d-none d-md-block">
                    <h3 >세번째 슬라이드</h3>
                    <p>꺄아악</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">이전</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">다음</span>
        </a>
    </div>
</div>